<html>
<head>
	<link href="http://cashaddon.com/stylesheets/main.css?1186979782" media="all" rel="Stylesheet" type="text/css" />
	<script type="text/css">
		a.blue:link  { text-decoration: none; color: rgb(123, 175, 216); font-family: verdana,helvetica,arial,sans-serif; font-size:12px;}
		a.blue:visited  { text-decoration: none; color: rgb(123, 175, 216); font-family: verdana,helvetica,arial,sans-serif; font-size:12px;}
	</script>
</head>
<body>
<table border="0" width="540px;">
	<tr><td colspan="2"><img src="http://cashaddon.com/images/cashAddOn_logo-small.gif" alt="CashAddOn"/></td></tr>
	<tr>
		<td>
	
	<p>


Dear User,<br/><br/>

We are sorry to inform you that the CashAddOn service has been temporarily disabled. <br/><br/>

There are a few site publishers that are upset that sales commission are being paid out to our users and they have pressured the commission networks to disconnect us.  We believe that we will be able to work this out with the commission networks and implement some changes in order to get relisted, and resume our service.<br/><br/>

We are at the center of a battle of how commission networks will run their services. Although it is interesting to see how this will play out, we don't want our clients to be at all inconvenienced.  As a result, CashAddOn at this time cannot offer you any cashback on purchases.  We will let you know if and when a new version becomes available so that we can resume offering you cashback on online purchases.<br/><br/>

Although the commission networks have deactivated us and have not paid us, we would like to honor the cashback that you deserve as loyal customers for purchases made before Oct 1.<br/><br/>

Feel free to uninstall CashAddOn, though keeping it on your computer will not have any negative impact on how you surf or purchase online. <br/><br/>
We will keep you informed and let you know as soon as the CashAddOn service gets back in operation.<br/><br/>

We appreciate your encouragement and support,<br/><br/>

- CashAddOn<br/><br/>
</p>
</td>
</tr>
</table>
</body>
</html>