<html>
<head>
  <link href="http://cashaddon.com/stylesheets/main.css?1186979782" media="all" rel="Stylesheet" type="text/css" />
  <script type="text/css">
    a.blue:link  { text-decoration: none; color: rgb(123, 175, 216); font-family: verdana,helvetica,arial,sans-serif; font-size:12px;}
    a.blue:visited  { text-decoration: none; color: rgb(123, 175, 216); font-family: verdana,helvetica,arial,sans-serif; font-size:12px;}
  </script>

</head>
<body>
<table border="0" width="540px;">
  <tr><td colspan="2"><img src="http://cashaddon.com/images/cashAddOn_logo-small.png" alt="CashAddOn"/></td></tr>
  <tr>
    <td>
      <table border="0" width="100%">
        <tr>
          <td><span style="text-decoration: none; color: black; font-family: verdana,helvetica,arial,sans-serif; font-size: 70%;"><b>Your account info:</b></span></td>
        </tr>
        <tr>
          <td><span style="text-decoration: none; color: black; font-family: verdana,helvetica,arial,sans-serif; font-size: 70%;">user name:  <%= @users.login %></span></td>
        </tr>
        <tr>
          <td><span style="text-decoration: none; color: black; font-family: verdana,helvetica,arial,sans-serif; font-size: 70%;">password:   <%= @users.password %></span></td>
        </tr>
      </table>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="width:540">
      <span style="text-decoration: none; color: black; font-family: verdana,helvetica,arial,sans-serif; font-size: 70%;">
        With the CashAddOn installed  you can go to one of our partner sites, like ebay.com, and have  CashAddOn  redirect you to the same destination while enabling you to get cash back on your orders.
      <br><br/>
      You'll know when you're on a partner site when our blue status icon
      <img src="http://cashaddon.com/images/status-minus.bmp" alt="CashAddOn Deactivated Icon"/>
      turns into the CashAddOn sign <img src="http://cashaddon.com/images/status-plus.bmp" alt="CashAddOn Activated Icon"/>
      <br><br/>Hold onto your account information so that you can access your account and withdraw your cash.
      <br><br/>By registering for CashAddOn you agree to the Terms and Conditions of CashAddOn found here <a href="http://cashaddon.com/website/terms" class="blue">Terms</a>.
      <br/><br/>Best Wishes,<br/><br/>
      <a href="http://www.cashaddon.com" class="blue">www.CashAddOn.com</a>
      </span>
    </td>
  </tr>
</table>
</body>
</html>