%div
  %p.p.dark.xl CashAddOn allows you to earn cash back savings on things you buy.
  %p.p.dark.lg We make the process easy so you can shop assured.
%div
  %p [Cash Back Circle of Life]
%div
  %p.p You can see your total savings any time. All you need to remember is to claim your cash.
  %p.p 
    We even post the hottest deals and coupons from our
    = link_to('cash back stores', web_url(:cashback)) + '.'
