#about-content
  #cashaddon-leaf
    %p.green-xl we're green
    %p.p.m-lg Yep, we're <span class="green">green conscious</span>, and forever <span class="blue">eco-friendly</span>.
    %p.p In fact, we're <span class="blue">obsessed</span> with help you make your green <span class="green">do more</span>.
    %p.p We make cash-back savings <span class="blue">easy</span>, and it's totally <em>economically</em>-friendly.
    %p.p We'll give part of the <span class="green">green</span> you spend online right back to you, <span class="blue">good as new</span>.
  %div
    %p.p Welcome to a place where <em>everything</em> you buy is on sale.
    %p.p.lite Where bargains only get better and <span class="green">you always save more</span>.
  %div
    %p.ttl.xl Welcome to <span class="cao xl">cash<span class="cao-blue">add</span>on</span>
    %p.p.lg.lite Home of the <span class="green">always-save-more</span> Firefox add-on.
  %div
    %p= link_to('Take our tour and get started', tour_url, :id=>'take-tour')
  %div
    %p= link_to('Download CASH<strong>ADD</strong>ON Now', download_url, :id=>'download-cashaddon')
    %p#free-addon
      %span Free Firefox add-on. No ads, no spyware. Just savings.
