#page-no-found{:style => 'margin: 70px 40px;'}
  %h1 We could not locate the page you requested.
  %p Try starting from the home page and working your way from there.
  %p{:style => 'margin-top:10px'}= link_to 'CashAddOn Home Page', root_url
