<% form_for @user_session, :url => { :action => :verify_password } do |f| #, :url => user_session_path do |f| %>
  <% # = f.error_messages %>
  For your account's security, please verify your password<br />
  <%= f.hidden_field :login %>
  <br />
  <div id="user_session_loginDIV"></div><br />
  <%= f.password_field :password %><%= flash[:notice]%><br />
  <br />
  <%= f.check_box :remember_me %>Keep me signed in ( Do not check if using a public computer. )<br />
  <br />
  <%= f.submit "Sign In" %><br/>
  <%= link_to "Forgot password?" , "/password_resets/new" , :target=>'_blank' %>
<% end %>